@import '../../styles/mixins';
@import '../../styles/variables';


.follow-button {
    background-color: transparent;
    color: $primary;

    &:hover {
        background-color: transparent;
    }
}