@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.container {
    width: 100%;

    color: var(--neutrals-greys-500, #6B7280);
    font-family: $Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    form {
        .actionsBar {
            width: 100%;
            height: fit-content;
            padding: 16px 0;
            background-color: $grey_100;

            .wrapper {
                width: 100%;
                height: fit-content;
                max-width: 1344px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p.textContainer {
                    color: var(--neutrals-greys-500, #6B7280);
                    font-family: $Montserrat;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }

                .insertBar {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .icon {
                        width: 18px;
                        height: 18px;
                        transition: $transition;
                        cursor: pointer;

                        svg {
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            color: $primary;
                        }
                    }
                }

                .buttons {
                    display: flex;
                    gap: 12px;

                    button {
                        padding: 6px 12px;
                        font-size: 12px;
                    }
                }

                .saveDraftBtn {
                    background-color: transparent;
                    color: $grey_400;
                    transition: $transition;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        .editorContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            max-width: 1344px;
            margin: 0 auto;

            .articleTitle,
            .articleTitle::placeholder {
                width: 100%;
                color: $neutrals_black;

                /* Heading 1 */
                font-family: Oswald;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 72px */

                margin-block: 48px;
            }

            .articleContent {
                outline: 0;
                border: 0;
                font-family: Montserrat;
            }
        }
    }
}