@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');
@import "../styles/mixins.scss";
@import "../styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit
}

body{
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 24px 48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutrals-greys-200, #E5E7EB);
  background: rgba(255, 255, 255, 0.75);

  .header-navbar-logo {
    width: 163.669px;
    height: 64px;
  }

  .navbar {
    display: flex;
    padding: 0px 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    color: $neutrals_black;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.6s ease;

    a:hover{
      color: $primary;
    }
    /* 24px */

    div {
      @include primary_btn
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;

  p {
    color: $neutrals_black;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    max-width: 1728px;
    padding: 16px 48px;
    /* 24px */
  }
}

.full-width{
  width: 100%;
}

.centered{
  width: 100%;
  max-width: 1344px;
  padding-inline: 1.5rem;
}