@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap');
@import "../styles/mixins.scss";
@import "../styles/colors.scss";
@import "../styles/typography.scss";
@import "../styles/navbar.scss";
@import "../styles/dialog.scss";
@import "../styles/modal.scss";

// Page stylesheets
@import "../styles/pages/home.scss";
@import "../styles/pages/404.scss";
@import "../styles/pages/contact.scss";
@import "../styles/pages/register.scss";
@import "../styles/pages/login.scss";
@import "../styles/pages/loading.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: $Montserrat;
  transition: all 0.3s ease-in-out;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: $Montserrat;
}

form{
  @include form;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  @include text-field;
}

textarea{
  resize: none;
}

button{
  @include primary_btn;
}

.tab-bar,
.breadcrumbs-bar{
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.tab,
.breadcrumb{
  @include tab;
  flex-grow: 0;
}

.icon{
  color: $grey_400;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  color: $brand_white;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 18px;
  }
}

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;

  p {
    color: $neutrals_black;
    font-family: $Montserrat;
    font-size: 14px;
    font-style: $font-style-normal;
    font-weight: $font-weight-regular;
    line-height: $line-height-tall;
    width: 100%;
    max-width: 1728px;
    padding: 16px 48px;
    /* 24px */
  }
}

.full-width {
  width: 100%;
}

.centered {
  width: 100%;
  max-width: 1344px;
  padding-inline: 1.5rem;
}