.author-bullet{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;

    color: $grey_400;
        /* Body Small Bold */
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 12px */
}