@import '../../styles/variables';
@import '../../styles/mixins';

.article-list {

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px){
        padding-block: 48px;
    }
    
    .article-item {
        width: 100%;
        height: fit-content;
        display: flex;
        padding: 24px;
        flex-direction: column;
        position: relative;
        align-items: center;
        background-color: transparent;
        transition: background-color 0.3s ease-out;
        border-bottom: solid 1px $grey_300;
        
        &:not(:first-child),
        &:not(:last-child) {
            margin-block: 12px;
        }
        
        .article-content {
            width: 100%;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 24px;
            padding:6px;

            @media screen and (max-width: 600px){
                flex-direction: column-reverse;
            }
            
            .article-cover{
                width: 200px;
                height: 200px;
                position: relative;
                aspect-ratio: 1 / 1;
                display: block;

                @media screen and (max-width: 600px){
                    width: 100%;
                    height: auto;
                    max-height: 250px;
                }

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .article-details {

                display: flex;
                flex-direction: column;
                gap: 12px;

                .author-bullet {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    .author-name {
                        color: $grey_400;
                        /* Body Small Bold */
                        @include body-small
                        /* 12px */
                    }
                }

                .article-title a {
                    color: var(--neutrals-black, #111827);
                    /* Heading 3 */
                    @include heading-3
                    /* 36px */
                }

                p {
                    color: var(--neutrals-black, #111827);
                    /* Body */
                    @include body
                    /* 24px */
                }

            }

        }

        .action-bar {
            display: flex;
            width: 100%;
            justify-content: space-between;

            a {
                @include icon-link;
                gap: 6px;
                color: $grey_400;
                transition: all 0.3s ease-out;

                svg {
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    svg {
                        transform: translateX(3px);
                    }
                }
            }

            a:first-child {
                padding-left: 0;
            }

            a:nth-child(2) {
                svg {
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    svg {
                        transform: translateY(-5px);
                    }
                }
            }

            a:last-child {
                padding-right: 0;
            }
        }


    }

}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}