@import '../../styles/variables';
@import '../../styles/mixins';

.article-item {
    width: 100%;
    height: fit-content;
    padding: 24px;
    border-bottom: solid 1px $grey_300;
    display: flex;
    gap: 24px;
    padding: 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease-out;

    &:not(:first-child),
    &:not(:last-child) {
        margin-block: 12px;
    }


    .article-content {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding: 24px;

        &:hover {
            background-color: $brand_white;
        }

        .author-bullet {
            width: 100%;
            height: fit-content;
            display: flex;
            gap: 12px;
            align-items: center;

            .author-name {
                color: $grey_400;
                /* Body Small Bold */
                @include body-small
                /* 12px */
            }
        }

        .article-title a {
            color: var(--neutrals-black, #111827);
            /* Heading 3 */
            @include heading-3
            /* 36px */
        }

        p {
            color: var(--neutrals-black, #111827);
            /* Body */
            @include body
            /* 24px */
        }

        .action-bar {
            display: flex;
            width: 100%;
            justify-content: space-between;

            a {
                @include icon-link;
                gap: 6px;
                color: $grey_400;
                transition: all 0.3s ease-out;

                svg {
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    svg {
                        transform: translateX(3px);
                    }
                }
            }

            a:first-child {
                padding-left: 0;
            }

            a:nth-child(2) {
                svg {
                    transition: all 0.3s ease-out;
                }

                &:hover {
                    svg {
                        transform: translateY(-5px);
                    }
                }
            }

            a:last-child {
                padding-right: 0;
            }
        }

    }

    .article-image {
        width: 200px;
        aspect-ratio: 1;
        object-fit: cover;
        flex-grow: 0;
        background-color: $grey_100;
    }
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}