@import '../../styles/variables';
@import '../../styles/mixins';

.container{
    width: fit-content;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &:hover{
        color: $accent;
    }
}