// Login page styles
@import '../../styles/variables';
@import '../../styles/mixins';

.login-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 553px;
    margin: 0 auto;
    margin-top: 12%;
    gap: 24px;

    h1 {
        @include heading-3;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
        gap: 48px;
        width: 100%;

        .form-group {
            width: 100%;
            max-width: 432px;
            text-align: center;

            label {
                margin-bottom: 8px;
            }

            input {
                width: 100%;
                text-align: center;
                padding: 8px;
            }
        }
    }
}