// Login page styles
@import '../../styles/variables';
@import '../../styles/mixins';

.login-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 553px;
    margin: 0 auto;
    margin-top: 12%;
    gap: 24px;

    h1{
        @include heading-3;
        text-align: center;
     }
 
     p{
         text-align: center;
     }
 
     form{
        margin-top: 24px;
         gap: 24px;
         width: 100%;
 
         .form-group{
             width: 100%;
             max-width: 432px;
 
             label{
                 margin-bottom: 8px;
             }
 
             input{
                 width: 100%;
                 text-align: center;
             }
         }
     }
}