@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.users {
    max-width: 1344px;
    margin: 0 auto;
    padding: 48px 0 48px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        &__tabs {
            display: flex;
            width: 1344px;
            justify-content: space-between;
            align-items: center;
        }

        &__tabs-tab {
            display: flex;
            padding: 8px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;

            Tab {
                color: $grey_500;
                @include body
            }
        }

        &__tabs-link {
            display: flex;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: $grey_500;
            @include body;

            .filters {
                display: flex;
                padding-left: 17px;
                gap: 24px;
                align-items: center;
                justify-content: center;
                list-style:none;

              
            }

            .filters  a:hover {
                color: $primary;
              }

           
        }
    }
}