@import "../../../styles/mixins";
@import "../../../styles/variables";

.container{
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    padding-block: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 1344px) {
        width: 92%;
        margin: 0 auto;
    }

    .tabBar{
        width: 100%;
    }
}