@import "../../styles/mixins";
@import "../../styles/variables";

.user {
    display: flex;
    width: 100%;
    max-width: 1344px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    @media screen and (max-width: 1024px) {
        width: 92%;
        margin: 0 auto;
    }

    &__item {
        padding: 24px;
        align-items: center;
        border-bottom: solid 1px $grey_200;
        display: flex;
        width: 100%;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            width: 100%;
            justify-content: space-around;
        }

        &__content {
            align-items: center;
            gap: 24px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            

            .avatar {
                width: 48px;
                height: 48px;
                flex-grow: 0;
                border-radius: 50%;

                img {
                    object-fit: cover;
                }
            }

            &__name {
                width: 10%;
                flex-grow: 1;
                border: 0 !important;
                outline: 0;
                padding-inline: 0 !important;
                color: $neutrals_black !important;

                // font
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                &:focus {
                    border-bottom: solid 1px $primary;
                }

                @media screen and (max-width: 1024px) {
                    width: auto;
                    display: inline-block;
                }
            }

            &__lastname {
                width: 10%;
                flex-grow: 1;
                border: 0 !important;
                outline: 0;
                padding-inline: 0 !important;
                color: $neutrals_black !important;

                // font
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                @media screen and (max-width: 1024px) {
                    width: fit-content;
                    display: inline-block;
                }
            }

            &__email {
                width: 20%;
                flex-grow: 1;

                width: 10%;
                flex-grow: 1;
                border: 0 !important;
                outline: 0;
                padding-inline: 0 !important;
                color: $neutrals_black !important;

                // font
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                @media screen and (max-width: 1024px) {
                    width: fit-content;
                    display: inline-block;
                }
            }

        }

        &__actions {
            display: flex;
            width: 200px;
            gap: 12px;
            justify-content: space-between;

            @media screen and (max-width: 1024px) {
                width: 150px;
                justify-content: space-between;
            }
        }
    }
}
.ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: $grey_400;
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: $primary;
    }

}