@import '../../styles/variables';
@import '../../styles/mixins';

.header, .admin-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 24px 48px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neutrals-greys-200, #E5E7EB);
    background: rgba(255, 255, 255, 0.75);
    color: $neutrals_black;
    position: relative;

    .burger{
      display: none;

      @media screen and (max-width: 1024px){
        display: block;
      }
    } 

    @media screen and (max-width: 1024px){
      padding: 12px 24px;
    }
  
    .header-navbar-logo {
      width: 164px;
      height: 64px;
    }
  
    .default_navbar {
      width: 100%;
      display: none;
      justify-content: space-between;
      gap: 24px;
      padding: 0 24px;
      flex: 1 0 0;
      z-index: 99999;
      display: flex;
      align-items: center;
      transition: $transition;
      width: 100%;

      .links{
        display: flex;
        gap: 24px;
      }

      &.open {
        display: flex;
      }
  
      a:hover {
        color: $primary;
      }

      a{
        @media screen and (max-width: 1024px){
          padding: 24px;
        }
      }

      @media screen and (max-width: 1024px){
        position: absolute;
        top: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: fit-content;
        background-color: white;
        gap: 24px;
        padding: 128px 0;
        display: none;

        .links{
          flex-direction: column;
          align-items: center;
          margin: 0;
        }

        &.open{
          display: flex;
        }
      }

      .wrap-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;

        @media screen and (max-width: 1024px){
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 24px;

          a.primary-btn{
            margin-left: 0
          }
        }
      }

    }

    .primary-btn {
      @include primary_btn;
      margin-left: 24px;
    }
  
    .user-writer-admin-navbar {
      display: flex;
      padding: 0px 24px;
      align-items: center;
      gap: 24px;
      flex: 1 0 0;
  
      .wrap-links {
        display: flex;
        padding: 0px 24px;
        align-items: center;
        gap: 24px;
      }
  
      .wrap-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
      }
  
      .droppeddown-loggedin {
        display: flex;
        align-items: center;
        gap: 24px;
  
        .avatar {
          width: 36px;
          height: 36px;
          flex-shrink: 0;
          fill: var($primary);
  
          &:hover{
            svg{
              color: $accent;
            }
          }
  
          img {
            width: 14px;
            height: 16px;
            flex-shrink: 0;
          }
        }
  
          p {
            font-weight: $font-weight-regular;
            span {
              font-weight: $font-weight-bold;
            }
         }
      }
  
  
      a:hover {
        color: $primary;
      }
    }

    .droppeddown-loggedin {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: center;
      padding: 0 24px;

      .avatar{
          background-color: $brand_white;
          color: $primary;
      }

      .user {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        fill: var($primary);

        img {
          width: 14px;
          height: 16px;
          flex-shrink: 0;
        }
      }

      p {
        span {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  
  .admin-header {
    background: $primary;
    color: $brand_white !important;

    .default_navbar{
      @media screen and (max-width: 1024px){
        background-color: $primary;
        left: 0;

        a{
        &:hover{
          color: $accent;
        }
        }
      }

      .wrap-icons{
        @media screen and (max-width: 1024px){
          margin-block: 12px;
        }
      }
    }

    a{
      color: $brand_white;
      transition: $transition;

      &:hover{
        color: $accent;
      }
    }

    .icon{
      color: $brand_white;
      &:hover{
        color: $accent;
      }
    }
  
  
    .header-navbar-logo {
      width: 163.669px;
      height: 64px;
    }
    .droppeddown-loggedin {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: center;
      padding: 0 24px;

      .avatar{
          background-color: $brand_white;
          color: $primary;
      }

      .user {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        fill: var($primary);

        img {
          width: 14px;
          height: 16px;
          flex-shrink: 0;
        }
      }

      p {
        span {
          font-weight: $font-weight-bold;
        }
      }
    }
  }