$primary: #671929;
$secondary: #01395E;
$primary_darker: #44202E;
$brand_white: #FAFAFA;
$accent: #E0C389;
$neutrals_black: #111827;
$transition: all 0.3s ease;
$grey_100: #F3F4F6;
$grey_200: #E5E7EB;
$grey_300: #D1D5DB;
$grey_400: #9CA3AF;
$grey_500: #6B7280;
$grey_600: #4B5563;
$grey_700: #374151;
$grey_800: #1F2937;
$grey_900: #111827;
$error_100: #FFF3F3;
$error_200: #FEC5C5;
$error_300: #F78D8D;
$error_400: #EE5A5A;
$error_500: #CB2D2D;
$error_600: #B22121;
$error_700: #991717;
$error_800: #660A0A;
$error_900: #330303;
$warning_100: #FFFCF3;
$warning_200: #FEF0C5;
$warning_300: #F7DD8D;
$warning_400: #EEC95A;
$warning_500: #CBA229;
$warning_600: #A2811E;
$warning_700: #896C15;
$warning_800: #664F0A;
$warning_900: #332703;
$success_100: #F3FFF3;
$success_200: #C5FEC5;
$success_300: #8DF78D;
$success_400: #5AEE5A;
$success_500: #2DCB2D;
$success_600: #1EA21E;
$success_700: #158915;
$success_800: #0A660A;
$success_900: #033303;

// Typography

$Montserrat: 'Montserrat', sans-serif;
$Oswald: 'Oswald', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-style-normal: normal;

$line-height-normal: 100%;
$line-height-tall: 150%;

// media queries breakpoints
$mobile: 600px;
$tablet: 768px;
$sm-desktop: 1024px;
$lg-desktop: 1344px;