@mixin primary_btn {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: $primary;
    color: $brand_white;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--brand-brand-white, #FAFAFA);
    /* Body */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
<<<<<<< HEAD
    /* 24px */
=======
    transition: all 0.2s ease-in-out;
    
    &:hover{
        background: $accent;
        color: $primary;
    } /* 24px */
}

@mixin tab{
    display: flex;
    padding: 8px 0;
    align-items: flex-start;

    /* Text */
    color: var(--neutrals-greys-500, #6B7280);
    /* Body */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    &.active{
      border-bottom: solid 1px $grey_400;
    }

    a{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: $primary;
        }
    }
}

@mixin text-field{
    display: inline-flex;
    padding: 12px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--neutrals-greys-300, #D1D5DB);
    background: var(--white, #FFF);

    /* Text */
    color: var(--gray-500, #71717A);
    /* Body */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    &:focus{
        border-bottom: 1px solid var(--brand-primary, #671929);
        background: var(--white, #FFF);
        outline: none;
    }
>>>>>>> contact-page-dev
}

@mixin font-oswald-style-height-normal {
    font-family: $Oswald;
    font-style: $font-style-normal;
    line-height: $line-height-normal; //1
}

@mixin font-oswald-style-normal-height-tall {
    font-family: $Oswald;
    font-style: $font-style-normal;
    line-height: $line-height-tall; //2
}

@mixin title {
    @include font-oswald-style-height-normal;
    font-size: 80px;
    font-weight: $font-weight-bold;
    /* 80px */
    text-transform: uppercase;
}

@mixin subtitle {
    @include font-oswald-style-normal-height-tall;
    font-size: 36px;
    font-weight: $font-weight-light;
    /* 54px */
}

@mixin heading-1 {
    @include font-oswald-style-normal-height-tall;
    font-size: 48px;
    font-weight: $font-weight-bold;
    /* 72px */
}

@mixin heading-2 {
    @include font-oswald-style-height-normal;
    font-size: 32px;
    font-weight: $font-weight-regular;
    /* 32px */
}

@mixin heading-3 {
    @include font-oswald-style-normal-height-tall;
    font-size: 24px;
    font-weight: $font-weight-regular;
    /* 36px */
}

@mixin body-style {
    font-family: $Montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-regular;
    line-height: $line-height-tall;
}

@mixin body {
    @include body-style;
    font-size: 16px;
    /* 24px */
}

@mixin body-small {
    @include body-style;
    font-size: 12px;
    /* 18px */
}

@mixin link {
    font-family: $Montserrat;
    font-size: 14px;
    font-style: $font-style-normal;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
    /* 14px */
    text-decoration-line: underline;
}