$Montserrat: 'Montserrat', sans-serif;
$Oswald: 'Oswald', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-style-normal: normal;

$line-height-normal: 100%;
$line-height-tall: 150%;